*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
    
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000; 
}

img {
  max-width: 100%;
  height: auto;
}
  
a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  margin-bottom: 59px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-header-top {
  position: relative;
  z-index: 1;
  
  background-color: #293449;
}

.main-header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header-logo {
  padding-top: 12px;
  padding-right: 56px;
  padding-bottom: 7px;
  padding-left: 55px;
}

.main-header-logo img {
  width: 109px;
  height: 19px;
}

.logo {
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.logo[href]:hover,
.logo[href]:focus {
  background-color: #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
}

.search-form {
  position: relative;
  
  width: 270px;
  
  background-color: #293449;
}

.search-form input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 49px;
  padding-right: 10px;
  width: 100%;
  height: 42px;
  
  font: inherit;
  color: #ffffff;
  
  border: none;
  background-color: #293449;
}

.search-form-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.search-form input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]::-moz-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

.search-form input[type="search"]::placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:hover {
  background-color: #212a3a;
}

.search-form input[type="search"]:hover + .search-form-icon {
  opacity: 1;
}

.search-form input[type="search"]:focus {
  color: #000000;
  
  background-color: #ffffff;
}

.search-form input[type="search"]:focus + .search-form-icon {
  fill: #ee3643;
  opacity: 1;
}

.main-header-link {
  position: relative;
  
  color: #ffffff;

  background-color: #293449;
}

.main-header-link.bookmark {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
  width: 106px;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 14px;
  height: 16px;
  
  background-image: url(../img/svg/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-link.cart {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  width: 101px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  
  width: 15px;
  height: 15px;
  
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-link.cart-active {
  background-color: #ee3643;
}

.main-header-link:hover,
.main-header-link:focus {
  background-color: #212a3a;
}

.main-header-link:hover::before,
.main-header-link:focus::before {
  opacity: 1;
}

.main-header-link:active {
  color: rgba(255, 255, 255, 0.6);
  
  background-color: #161d29;
}

.main-header-link:active::before {
  opacity: 0.5;
}

.main-header-button {
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 20px;
  width: 108px;
  
  color: #ffffff;

  background-color: #63a63e;
}

.main-header-button:hover,
.main-header-button:focus {
  background-color: #5fbb2d;
}

.main-header-button:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.main-header-center {
  padding-bottom: 60px;
  
  background-color: #f3f7f9;
}

.main-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 46px;
  padding-bottom: 39px;
}

.main-title {
  width: 200px;
  margin: 0;
  padding-top: 3px;
  margin-right: 68px;
  margin-left: 52px;
  
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts-wrapper {
  padding-top: 9px;
  padding-right: 50px;
  padding-bottom: 9px;
  padding-left: 71px;
  
  background-image: url(../img/svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 12px 10px;
  border: 3px solid #ffffff;
}

.header-contacts a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts p {
  margin: 0;
  margin-top: 4px;
  margin-left: 9px;
  
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}

.header-user-block {
  margin-left: auto;
}

.user-block-profile {
  background-color: #ffffff;
}

.user-link {
  position: relative;
  
  display: inline-block;
  vertical-align: top;
  
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-link-login {
  padding-top: 12px;
  padding-right: 26px;
  padding-bottom: 12px;
  padding-left: 47px;
}

.user-link-login svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-link-registration {
  margin-left: 6px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.user-link-profile {
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 46px;
  padding-bottom: 10px;
}

.user-link-profile svg {
  position: absolute;
  top: 13px;
  left: 13px;
}

.user-link-logout {
  margin-left: 13px;
  padding-top: 14px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.user-link:hover,
.user-link:focus {
  color: #ee3643;
}

.user-link:hover svg,
.user-link:focus svg {
  fill: #32425c;
}

.user-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-link:active svg {
  fill: #c5c5c5;
}

.user-navigation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 8px;
  margin-left: 17px;
  padding: 0;
  
  font-size: 16px;
  
  list-style: none;
}

.navigation-block-item {
  position: relative;

  padding-right: 33px;
}

.navigation-block-item:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 7px;
  right: 13px;

  width: 5px;
  height: 5px;
  
  background-color: #32425c;
  border-radius: 50%;
}

.user-navigation-block a {
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-block a:hover,
.user-navigation-block a:focus {
  color: #ee3643;
}

.user-navigation-block a:active {
 color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  line-height: 17px;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 #293449;
          box-shadow: inset 0 -5px 0 #293449;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-right: 21px;
  margin-left: 22px;
  padding: 0;
  
  list-style: none;
}

.main-navigation-list a {
  display: inline-block;
  vertical-align: top;

  padding-top: 20px;
  padding-right: 31px;
  padding-bottom: 23px;
  padding-left: 30px;
  
  color: #ffffff;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  background-color: #293449;
}

.main-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.assortment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: 45px;
  
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.assortment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.assortment-item {
  position: relative;
  
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 22px;
  width: 278px;
}

.assortment-item.new::before {
  content: "";
  
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-item.materials {
  margin-right: 20px;

  background-color: #ffbf47;
}

.assortment-item.materials::after {
  content: "";
  
  position: absolute;
  top: 31px;
  right: 43px;
  
  width: 44px;
  height: 65px;
  
  background-image: url(../img/svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-item.tool {
  background-color: #3bbce3;
  margin-right: 20px;
}

.assortment-item.tool::after {
  content: "";
  
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;
  
  background-image: url(../img/svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-item.equipment {
  background-color: #dc91d8;
}

.assortment-item.equipment::after {
  content: "";
  
  position: absolute;
  top: 31px;
  right: 31px;
  
  width: 78px;
  height: 62px;
  
  background-image: url(../img/svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-item.discount {
  background-color: #8ed78f;
}

.assortment-item.discount::after {
  content: "";
  
  position: absolute;
  top: 26px;
  right: 45px;
  
  width: 59px;
  height: 72px;
  
  background-image: url(../img/svg/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-item.delivery {
  margin-top: 20px;
  
  background-color: #ffbf47;
}

.assortment-item.delivery::after {
  content: "";
  
  position: absolute;
  top: 32px;
  right: 31px;
  
  width: 78px;
  height: 63px;
  
  background-image: url(../img/svg/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.assortment-item h3 {
  margin: 0;
  margin-bottom: 12px;
  
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.assortment-item a {
  display: inline-block;
  vertical-align: top;

  margin-left: 3px;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  width: 105px;
  
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.assortment-item a:hover,
.assortment-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.assortment-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  
  margin-right: 20px;
  width: 620px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  position: relative;

  display: none;
}

.slider-item-active {
  display: block;
}

.slider-info {
  position: absolute;
  top: 23px;
  left: 24px;
}

.slider-info h3 {
  margin: 0;
  margin-bottom: 2px;
  
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-info p {
  margin: 0;
  
  font-size: 18px;
}

.slider-button {
  position: absolute;
  bottom: 30px;
  left: 25px;
  z-index: 1;
  
  display: block;
  padding-top: 11px;
  padding-right: 47px;
  padding-bottom: 9px;
  padding-left: 49px;
}

.slider-radio-controls {
  position: absolute;
  bottom: 38px;
  right: 288px;
  z-index: 1;
}

.slider-radio-control {
  margin-right: 7px;
  padding: 0;

  width: 6px;
  height: 6px;
  
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-radio-control-active {
  background-color: #ee3643;
}

.slider-arrow {
  padding: 0;
  width: 22px;
  height: 40px;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-arrow-left {
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 1;
  
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-arrow-right {
  position: absolute;
  top: 114px;
  right: 20px;
  z-index: 1;
  
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.index-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 28px;
  
  background-color: #f9f5f0;
}

.header-row h2 {
  margin: 0;
  margin-top: 1px;
  max-width: 600px;
  
  color: #32425c;
}

.header-row a {
  margin-left: auto;
}

.popular-button,
.manufacturers-button {
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 9px;
  padding-left: 27px;
  width: 200px;

  text-align: center;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-inner {
  width: 700px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.catalog-popular {
  margin-bottom: 1px;
}

.catalog-item {
  position: relative;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 218px;

  text-align: center;

  border: 1px solid #eaeaea;
}

.catalog-item.new::before {
  content: "";
  
  position: absolute;
  top: -1px;
  right:-1px;
  z-index: 2;

  width: 60px;
  height: 59px;

  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-popular .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  margin-bottom: 11px;
  padding: 0 30px;
  
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-item a {
  color: #000000;
}

.catalog-item img {
  margin-bottom: 9px;
  width: 218px;
  height: 170px;
}

.catalog-price {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-price .old-price {
  display: block;
  margin-bottom: 10px;
  margin-left: 2px;
  
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-price .current-price {
  position: relative;
  
  display: block;
  margin: 0 42px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 19px;
  width: 100px;
  
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-price .last-price {
  margin-top: 28px;
}

.catalog-item .current-price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.catalog-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  padding-top: 43px;
  padding-bottom: 37px;
  width: 218px;

  background-color: #ffffff;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  opacity: 0;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border-color: transparent;
}

.catalog-item:hover .catalog-hover {
  opacity: 1;
}

.catalog-hover .button-buy,
.catalog-hover .button-bookmark {
  display: block;
  margin-right: 42px;
  margin-left: 41px;

  border-radius: 3px;
}

.catalog-hover .button-buy {
  position: relative;
  
  padding-top: 11px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 49px;
  margin-bottom: 8px;
  
  color: #ffffff;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 #367315;
          box-shadow: inset 0 -3px 0 #367315;
}

.catalog-hover .button-buy::after {
  content: "";

  position: absolute;
  top: 11px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-hover .button-buy:hover,
.catalog-hover .button-buy:focus {
  background-color: #5fbb2d;
}

.catalog-hover .button-buy:active {
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog-hover .button-bookmark {
  padding-top: 8px;
  padding-right: 29px;
  padding-bottom: 6px;
  padding-left: 32px;
  
  color: #32425c;

  border: 3px solid #63a63e;
}

.catalog-hover .button-bookmark:hover,
.catalog-hover .button-bookmark:focus {
  border: 3px solid #32425c;
}

.catalog-hover .button-bookmark:active {
  opacity: 0.3;
}

.manufacturers {
  margin-bottom: 65px;
}

.manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.manufacturers-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-list a {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 145px;

  outline: 1px solid #eaeaea;
}

.manufacturers-list a:hover,
.manufacturers-list a:focus {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  outline: none;
}

.manufacturers-list a:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.manufacturers-list img:active {
  opacity: 0.5;
}

.services {
  margin-bottom: 79px;
  padding-bottom: 99px;
  
  background-color: #f4f8f9;
}

.services h2 {
  margin: 0;
  padding-top: 65px;
  padding-bottom: 26px;
}

.services-text {
  margin: 0;
  margin-bottom: 68px;
  width: 398px;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.services-list {
  position: relative;
  
  margin: 0;
  margin-right: 80px;
  padding: 0;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  
  list-style: none;
}

.services-list::after {
  content: "";

  position: absolute;
  bottom: -45px;
  right: 0;


  height: 279px;
  width: 10px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.services-button {
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  padding-top: 15px;
  padding-right: 138px;
  padding-bottom: 17px;
  padding-left: 22px;
  width: 80px;
  
  background-color: #32425c;
  border: none;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
          box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  cursor: pointer;
}

.services-button-active {
  color: #32425c;
  
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
          box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.services-button:not(.services-button-active):hover {
  background-color: #293449;
}

.services-decription-list {
  margin: 0;
  padding: 0;
  width: 300px;
  
  list-style: none;
}

.services-decription-item {
  position: relative;
  
  display: none;
}

.services-decription-item.delivery::after {
  content: "";

  position: absolute;
  top: 24px;
  left: 151px;

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-decription-item.guarantee::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 239px;

  width: 389px;
  height: 283px;

  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-decription-item.credit::after {
  content: "";

  position: absolute;
  top: 0;
  left: 165px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.decription-item-active {
  display: block;
}

.services-decription-item h3 {
  margin: 0;
  margin-bottom: 24px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-decription-text {
  margin: 0;
}

.decription-text-delivery {
  width: 275px;
}

.decription-text-guarantee {
  width: 375px;
}

.decription-text-credit {
  margin-bottom: 34px;
  width: 280px;
}

.services-decription-button {
  padding-top: 12px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 44px;

  background-color: #ff5357;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.company-info {
  width: 540px;
}

.company-info h2 {
  margin: 0;
  margin-bottom: 26px;
}

.company-info-promo {
  margin: 0;
  margin-bottom: 24px;
}

.company-info-delivery {
  margin: 0;
  margin-right: 95px;
  margin-bottom: 21px;
}

.company-info-list {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  list-style: none;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.company-info-list li {
  position: relative;
  
  margin-bottom: 20px;
  padding-left: 36px;
}

.company-info-list li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.company-info-button {
  display: inline-block;
  vertical-align: top;
  
  padding-top: 11px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 41px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 26px;
}

.contacts-text {
  margin: 0;
  margin-right: 85px;
  margin-bottom: 31px;
}

.contacts-map-link {
  display: block;

  margin-bottom: 32px;
}

.contacts-map-link img {
  width: 300px;
  height: 158px;
}

.contacts-button {
  display: inline-block;
  vertical-align: top;
  
  padding-top: 11px;
  padding-right: 59px;
  padding-bottom: 9px;
  padding-left: 63px;
  width: 178px;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo {
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 13px;
  padding-left: 41px;
}

.main-footer-logo img {
  width: 138px;
  height: 23px;
}

.main-footer-wrapper {
  padding-bottom: 49px;
  
  background-color: #32425c;
}

.main-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 33px;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 38px;
  margin-left: auto;
  padding: 0;
  width: 608px;
  
  font-size: 18px;
  line-height: 24px;

  list-style: none;
}

.footer-navigation-list li {
  margin-left: 59px;
}

.footer-navigation-list a {
  color: #f1f5f7;
}

.footer-navigation-list a:hover,
.footer-navigation-list a:focus {
  text-decoration: underline;
}

.footer-navigation-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-footer-middle p {
  margin: 0;
  margin-left: 3px;
  width: 325px;

  color: #f3f7f9;
}

.main-footer-middle .footer-phone {
  color: #f3f7f9;
}

.footer-sub-navigation-list {
  margin-top: 0;
  width: 584px;
}

.footer-sub-navigation-list a {
  color: #ffd180;
}

.main-footer-bottom {
  padding-top: 35px;
  padding-bottom: 30px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-copyright {
  margin: 0;
  margin-top: 2px;
  margin-right: 160px;
  width: 230px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 180px;
  
  list-style: none;
}

.footer-social-list li:not(:last-child) {
  margin-right: 3px;
}

.footer-social-link {
  display: block;
  padding: 21px;
  
  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social-vk {
  background-image: url("../img/svg/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 8px 13px;
}

.footer-social-facebook {
  background-image: url("../img/svg/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.footer-social-instagram {
  background-image: url("../img/svg/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: #ee3643;
}

.footer-feedback {
  margin: 0;
  margin-top: 2px;
  margin-left: 71px;
  width: 140px;
}

.footer-development {
  margin: 0;
  margin-top: 2px;
  margin-left: 48px;
  width: 105px;
}

.footer-feedback a,
.footer-development a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-development a:hover,
.footer-feedback a:focus,
.footer-development a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-development a:active {
  text-decoration: none;
  color: #ee3643;
}

.main-header-catalog {
  margin-bottom: 18px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  padding-right: 40px;
}

.breadcrumbs li:last-child {
  padding-right: 0;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 7px;
  right: 17px;

  width: 8px;
  height: 12px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-link {
  color: #000000;
}

.breadcrumbs-link-home {
  display: inline-block;
  vertical-align: middle;
  
  padding: 2px 0;
  width: 15px;
  height: 12px;
  
  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: -2px 0;
}

.main-inner-title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 29px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color:#32425c;
  
  background-color: #f2f6f8;
}

.filter {
  width: 220px;
}

.filter-title {
  display: block;
  margin-bottom: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;

  background-color: #f7f3ec;
}

.filter-form {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-form legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-manufacturers-list,
.filter-power-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sub-title {
  line-height: 18px;
  text-transform: uppercase;
}

.filter-form .filter-form-range {
  margin-bottom: 16px;
  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.range-form-title {
  margin-bottom: 14px
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f7f3ec;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74
}

.range-controls .toggle {
  position: absolute;
  padding: 0;
  width: 20px;
  height: 23px;

  background-color: transparent;
  background-image: url(../img/svg/filter-button.svg);
  border: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  top: 30px;
  left: 20px;
}

.range-controls .toggle-max {
  top: 30px;
  right: 40px;
}

.price-controls {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-controls p {
  margin: 0;
}

.price-controls p:first-child {
  margin-right: 30px;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 19px;
  left: 106px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.price-controls input {
  width: 61px;
  height: 36px;
  padding-right: 17px;
  padding-left: 17px;
  
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #000000;
  
  background-color: #f7f3ec;
  border: none;
  border-radius: 5px;
}

.price-controls input::-webkit-input-placeholder {
  color: #000000;
}

.price-controls input::-moz-placeholder {
  opacity: 1;
  color: #000000;
}

.price-controls input:-ms-input-placeholder {
  color: #000000;
}

.price-controls input::-ms-input-placeholder {
  color: #000000;
}

.price-controls input::placeholder {
  color: #000000;
}

.filter-form-title {
  margin-bottom: 14px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;

  cursor: pointer;
}

.filter-form .filter-form-manufacturers {
  margin-bottom: 18px;
  padding-bottom: 1px;
  
  border-bottom: 1px solid #e5e5e5;
}

.filter-input-checkbox + label::before {
  content: "";
  
  position: absolute;
  bottom: -2px;
  left: -34px;
  
  width: 19px;
  height: 19px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  
  position: absolute;
  bottom: -2px;
  left: -34px;
  
  width: 27px;
  height: 23px;
  
  background-image: url(../img/svg/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  border-radius: 0;
}

.filter-form .filter-form-power {
  margin-bottom: 59px;
}

.filter-input-radio + label::before {
  content: "";
  
  position: absolute;
  top: -3px;
  left: -35px;
  
  width: 17px;
  height: 17px;
  
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  
  position: absolute;
  
  top: 5px;
  left: -27px;
  
  width: 9px;
  height: 9px;
  
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-form-button {
  padding-top: 10px;
  padding-right: 39px;
  padding-bottom: 8px;
  padding-left: 38px;
  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
}

.filter-input-radio + label:hover::before,
.filter-input-checkbox + label:hover::before ,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:focus + label::before {
  border-color: #b5b5b5;
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:focus:checked + label::before {
  background-image: url(../img/svg/checkbox-on-dark.svg);
}

.filter-input-radio + label:hover::after,
.filter-input-radio:focus + label::after {
  background-color: #b5b5b5;
}

.filter-input-radio:focus + label::before, 
.filter-input-checkbox:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox:disabled + label::before {
  border-color: rgba(181, 181, 181, 0.3);
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url(../img/svg/checkbox-on-dark.svg);
  opacity: 0.3;
}

.filter-input-radio:disabled + label::before {
  border-color: rgba(181, 181, 181, 0.3);
}

.filter-input-radio:disabled + label::after {
  background-color: rgba(181, 181, 181, 0.3);
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label  {
  color: rgba(0, 0, 0, 0.4);
}

.catalog-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-right: 17px;
  padding-bottom: 7px;
  padding-left: 18px;

  background-color: #f7f3ec;
}

.catalog-sorting-title {
  padding-top: 3px;
  margin-right: 140px;
}

.catalog-sorting-list,
.catalog-sorting-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.catalog-sorting-list {
  width: 360px;
}

.catalog-sorting-list li {
  margin-right: 69px;
}

.catalog-sorting-list li:nth-child(3n) {
  margin-right: 0;
}

.catalog-sorting-link {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.catalog-sorting-link:hover,
.catalog-sorting-link:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.catalog-sorting-link:focus:active {
  color: #ee3643;

  border: none;
}

.catalog-sorting-link-active {
  color: #ee3643;

  border: none;
}

.catalog-sorting-arrow {
  margin-left: auto;
  width: 43px;
}

.catalog-sorting-arrow li {
  margin-right: 21px;
}

.catalog-sorting-arrow li:nth-child(2n) {
  margin-right: 0;
}

.catalog-sorting-arrow a {
  display: inline-block;
  vertical-align: top;
  
  color: #c5c5c5;
}

.sorting-arrow-button path {
  fill: #c5c5c5;
}

.sorting-arrow-button:hover path,
.sorting-arrow-button:focus path {
  fill: #231f20;
}

.sorting-arrow-active path,
.sorting-arrow-button:active path {
  fill: #ee3643;
}

.main-catalog {
  margin-bottom: 32px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  
  line-height: 18px;
  text-transform: uppercase;
  
  list-style: none;
}

.pagination li {
  margin-right: 10px;
}

.pagination-link {
  display: inline-block;
  vertical-align: top;
  
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 9px;
  padding-left: 15px;
  
  color: #000000;
  
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-link-next {
  padding-right: 30px;
  padding-left: 31px;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  border: 1px solid #bdc6ca;
}

.pagination-link[href]:active {
  border: 1px solid #ee3643;
}

.pagination-link-active {
  color: #ffffff;
  
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.hammer-drill-info {
  padding-top: 65px;
  padding-bottom: 68px;
  
  background-color: #f2f6f8;
}

.hammer-drill-info h2 {
  margin: 0;
  margin-bottom: 26px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.hammer-drill-info p {
  margin: 0;
}

.modal {
  position: fixed;
	top: 50%;
	left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(0);
      -ms-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);

  background-color: #ffffff;
  opacity: 0;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.modal-feedback {
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
  padding-top: 47px;
  width: 620px;

  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.feedback-form-wrapper {
  margin: 0 80px;
  margin-bottom: 37px;
}

.feedback-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.feedback-form label {
  margin-bottom: 9px;
  
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-form .feedback-form-group {
  margin-bottom: 21px;
}

.input-area {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.input-area::-webkit-input-placeholder {
  color: #a9a9a9;
}

.input-area::-moz-placeholder {
  color: #a9a9a9;
}

.input-area:-ms-input-placeholder {
  color: #a9a9a9;
}

.input-area::-ms-input-placeholder {
  color: #a9a9a9;
}

.input-area::placeholder {
  color: #a9a9a9;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  padding-right: 13px;
  padding-left: 13px;
  width: 220px;
  height: 38px;

  background-color: #ffffff;
}

.feedback-form textarea {
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 13px;
  width: 100%;
  height: 114px;

  background-color: #ffffff;
  resize: none;
}

.feedback-row-wrapper {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.feedback-form-button {
  padding: 10px;
  width: 100%;
}

.modal-map {
  width: 940px;
  height: 446px;

  background-color: #565656;
  -webkit-box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.modal .close-button {
  position: absolute;
  top: 9px;
  right: 9px;

  padding: 0;
  width: 21px;
  height: 21px;
  
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal .close-button::before,  
.modal .close-button::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: -2px;
  
  width: 26px;
  height: 4px;

  background-color: #ee3643;
}

.modal .close-button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .close-button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-map-image {
  display: block;
  width: 940px;
  height: 446px;
}

.modal-cart {
  -webkit-box-sizing: border-box;
  
          box-sizing: border-box;
  padding-top: 48px;
  width: 620px;

  font-family: "Cuprum", Arial, sans-serif;

  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
          box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-cart-wrapper {
  padding: 0 80px;
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f4f4f4;
}

.modal-cart .add-to-cart {
  margin: 0 80px;
  padding-top: 17px;
  padding-bottom: 68px;
  padding-left: 100px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;

  background-image: url("../img/svg/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 1px 0;
}

.modal-cart .order-button,
.modal-cart .continue-button {
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 9px;
  padding-left: 12px;
  width: 220px;
}

.modal-cart .order-button {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;

  text-align: center;
}

.modal-cart .continue-button {
  color: #000000;

  background-color: #ffffff;
}

.modal-show {
  z-index: 2;
  -webkit-transform: translateX(-50%) translateY(-70%);
      -ms-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);

  opacity: 1;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.input-error {
  -webkit-animation: flash 0.6s;
          animation: flash 0.6s;
}